<h1>Dashboard</h1>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Total products: <%= @products_count %></li>
    <li class="list-group-item">Total categories: <%= @categories_count %></li>
  </ul>
</div>
