<div class="jumbotron">
  <h3 class="display-4">About us</h3>
  <h5 class="lead">The Jungle Story</h5>
  <hr class="my-4">
  <p>We are a website that sells plants. All kinds of plants. Each plant has a different price, depending on the size and species. If you would like to purchase some plants please add them to your cart and proceed to our secure checkout. Thank you for visiting!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Start shopping</a>
  </p>
</div>